repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Matches pre-commit=4.1.0 compatibility
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 25.1.0  # Matches black=25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.0  # Matches isort=6.0.0
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1  # Matches flake8=7.1.1
    hooks:
      - id: flake8
        args: [--max-line-length=100]
        additional_dependencies:
          - mccabe==0.7.0  # From installed dependencies
          - pycodestyle==2.12.1
          - pyflakes==3.2.0
